@model IEnumerable<RoomManagement.Models.Service>

@{
    int stt = 1;
}

<table>
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên dịch vụ</th>
            <th>Đơn giá</th>
            <th>Đơn vị</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var service in Model)
            {
                <tr>
                    <td>@(stt++)</td>
                    <td>@service.ServiceName</td>
                    <td>@string.Format("{0:N0}", service.Price) VNĐ</td>
                    <td>@service.Unit</td>
                    <td class="editOrDel">
                        <a asp-action="Edit" asp-route-id="@service.Id" class="edit">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <form asp-action="Delete" asp-route-id="@service.Id" method="post" class="del" id="deleteForm-@service.Id">
                            <button type="button" onclick="confirmDelete(@service.Id)"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" style="padding: 40px !important; color: #94A3B8; background-color: #F8FAFC; text-align: center;">
                    <i class="fa-solid fa-box-open d-block mb-2" style="font-size: 2rem; opacity: 0.3;"></i>
                    Không tìm thấy dữ liệu
                </td>
            </tr>
        }
    </tbody>
</table>